.sefSectie-page {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    background: rgb(34, 193, 195);
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  