/* Numele fișierului: ManagementProiecte.css */

/* Stiluri pentru containerul principal */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Stiluri pentru titlu */
.title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Stiluri pentru butonul Respingere */
button.rej {
  background-color: #f44336; /* Red */
  margin-bottom: 10px; /* Adăugat pentru a separa butonul de textArea */
}

/* Stiluri pentru butonul Acceptare */
button.acc {
  background-color: #4caf50; /* Green */
  margin-bottom: 10px; /* Adăugat pentru a separa butonul de textArea */
}

/* Stiluri pentru eticheta textArea și input-ul ID Cerere */
label {
  display: block;
  margin-bottom: 10px;
}

/* Stiluri pentru containerul ID Cerere */
.id-container {
  display: flex;
  align-items: center;
}

/* Stiluri pentru textArea cu scroll */
textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin-bottom: 10px;
  overflow: auto; /* Adaugă scroll dacă textul depășește înălțimea specificată */
}

/* Stiluri pentru butonul Back */
.backButton {
  position: absolute;
  bottom: 10px;
  right: 10px; /* Modificat pentru a plasa butonul în partea dreaptă jos */
  padding: 15px 25px; /* Modificat pentru a mări dimensiunile butonului */
  background-color: #ccc;
  color: #333;
  border: none;
  cursor: pointer;
}

.id {
  margin-left: 10px; /* Spațiu între etichetă și input */
}

