/* VizualizareEchipa.css */

.echipa-title {
    font-size: 1.8em;
    color: #333; /* culoarea textului poate fi modificată după preferință */
    margin-bottom: 10px;
  }
  
  .container {
    margin-top: 10px;
  }
  
  .text {
    font-size: 1.5em;
  }

  .backButton {
    position: absolute;
    bottom: 10px;
    right: 10px; /* Modificat pentru a plasa butonul în partea dreaptă jos */
    padding: 15px 25px; /* Modificat pentru a mări dimensiunile butonului */
    background-color: #ccc;
    color: #333;
    border: none;
    cursor: pointer;
  }

  .your-id-label {
    display: block;
    font-size: 1em;
    margin-top: 10px;
  }
  
  .your-id-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  